.navContainer {
  display: flex;
  gap: 20px;
}

.link {
  font-size: 16px;
  color: #2a2a2a;
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.link:hover {
  background-color: #f0f0f0;
}

.active {
  background-color: #469597;
  color: white;
  font-weight: bold;
}
